<sl-carousel slides-per-page="3" pagination navigation mouse-dragging loop>
  <sl-carousel-item style="background: var(--sl-color-red-200)"
    >Slide 1</sl-carousel-item
  >
  <sl-carousel-item style="background: var(--sl-color-orange-200)"
    >Slide 2</sl-carousel-item
  >
  <sl-carousel-item style="background: var(--sl-color-yellow-200)"
    >Slide 3</sl-carousel-item
  >
  <sl-carousel-item style="background: var(--sl-color-green-200)"
    >Slide 4</sl-carousel-item
  >
  <sl-carousel-item style="background: var(--sl-color-blue-200)"
    >Slide 5</sl-carousel-item
  >
  <sl-carousel-item style="background: var(--sl-color-violet-200)"
    >Slide 6</sl-carousel-item
  >
</sl-carousel>
